<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Tester UI</title>
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./lib/quasar.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./fonts/icons.css">
</head>
<body>
  <div id="app">
    <q-layout view="hHh LpR ffr">
      <q-header elevated>
        <q-toolbar>
          <q-btn flat dense round @click="left = !left" 
            aria-label="Menu" icon="icon-menu"></q-btn>

          <q-toolbar-title>
            <q-btn  flat dense round @click="go(-1)"
              icon="icon-navigate_before" ></q-btn>
            <q-btn flat dense round @click="go(1)"
              icon="icon-navigate_next" ></q-btn>
            
            {{$route.meta.title}}
            
          </q-toolbar-title>

          <q-btn v-if="authenticate" flat round 
            @click="logoutUser">logout</q-btn>
          <q-btn v-else flat round to="/login">login</q-btn>
        </q-toolbar>
      </q-header>

      <q-drawer v-model="left" show-if-above bordered class="bg-grey-2" overlay>
        <q-list>
          <q-item-label header>Navegacion</q-item-label>
          <q-item v-for="(item,index) in pages" :key="index" :to="item.path" exact>
            <q-item-section avatar>
              <q-icon :name="item.icon"></q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ item.title }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-drawer>
      
      <q-page-container>
        <transition :name="transitionName">
          <router-view class="child-view" ></router-view>
        </transition>
      </q-page-container>

      <q-dialog v-model="showPopup" persistent>
        <q-card style="min-width: 300px" class="text-center">
          <q-card-section
            class="bg-primary text-h6 text-white shadow-3 q-pa-md">
            {{title}}
          </q-card-section>
          <q-card-section v-html=" message" class="q-pa-md"></q-card-section>
          <q-card-actions v-if="showButton" align="center" >
            <q-btn outline label="Accept" color="primary" v-close-popup @click="onPress"></q-btn>
            <q-btn outline label="Cancel" color="primary" v-close-popup ></q-btn>
          </q-card-actions>
          <q-card-actions v-else align="center">
            <q-btn outline label="Close" color="primary" v-close-popup ></q-btn>
          </q-card-actions>
        </q-card>
      </q-dialog>

      <q-dialog v-model="showLoading" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-spinner color="primary" size="3em" :thickness="10"/>
          </q-card-section>
        </q-card>
      </q-dialog>
    </q-layout>
  </div>

  <script>
    // config color quasar (interface)
    window.quasarConfig = {
      brand: {
        primary: '#008577',
        secondary: '#00574b',
        accent: '#ffbb33',

        dark: '#3c2d21',

        positive: '#21ba45',
        negative: '#C10015',
        info: '#31CCEC',
        warning: '#f20000'
      }
    }

    // para ejecutar el html fuera del esp32 
    var host = document.location.host;
    if (host === "" || // file
      host ==="127.0.0.1:3000") //live preview
        host = '192.168.1.57';

    
  </script>

  <!-- vue -->
  <script src="./lib/vue.min.js"></script>
  <script>Vue.config.devtools = false; Vue.config.productionTip = true;</script>
  <script src="./lib/vuex.min.js"></script>
  <script src="./lib/vue-router.min.js"></script>
  <script src="./lib/quasar.umd.min.js"></script>
  <!-- chart -->
  <script src="./lib/chart.min.js"></script>->
  <script src="./lib/vue-chartjs.min.js"></script>
  
  <!-- app -->
  <script  src="./vuex.js"></script>
  <script  src="./components.js"></script>
  <script src="./fonts/icons.js"></script>
  <!-- pages -->
  <script  src="./pages/home.js"></script>
  <script  src="./pages/login.js"></script>
  <script  src="./pages/history.js"></script>
  <script  src="./pages/test.js"></script>
  <script  src="./pages/result.js"></script>
  <script  src="./pages/move.js"></script>
  <script  src="./pages/options.js"></script>
  <script  src="./pages/system.js"></script>

  <script  src="./main.js"></script>

</body>
</html>
